@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');
/* theme */

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   --purple: purple;
   --green: green;
   --red: red;
   --background-color: #278b3d5f;
   --text-color: whitesmoke;
   /* border: 1px solid red; */
}

html {
   margin: 0;
   padding: 0;
   aspect-ratio: unset;
   margin: auto;
   overflow: hidden;
   position: relative;
   width: 100dvw;
   height: 100%;
}

body {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: var(--text-color);
   background-color: var(--background-color);
   font-size: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

header {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: top;
   margin: 0;
   background-color: purple;
   box-shadow: 0 2px 5px rgb(0, 0, 0);
   padding-bottom: 0;
   color: whitesmoke;
}

.display-left,
.display-right {
   display: flex;
   flex-direction: row;
   gap: 0.2em;
   margin-top: 0.3em;
   margin-bottom: 0.4em;
   font-size: 1rem;
}

.display-left {
   justify-content: flex-start;
   margin-left: calc(2em);
}

.display-right {
   justify-content: flex-end;
   margin-right: 0.5em;
}

.display {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: end;
   width: min-content;
}

.score-display {
   font-size: 2rem;
   margin: 0;
}

@media (max-width: 400px) {
   .display {
      /* display: flex;
      flex-direction: row; */
      font-size: 0.5rem;
      gap: 0.2em;
   }

   .score-display {
      font-size: 1rem;
   }

   .display-left {
      margin-left: 0.5em;
   }

   .display-left,
   .display-right {
      /* flex-direction: column; */
      align-items: end;
   }
}

.title {
   font-family: "Amarante", serif;
   color: whitesmoke;
   display: flex;
   align-items: top;
   align-self: top;
   justify-content: center;
   height: min-content;
}

.title-s {
   display: inline-block;
   font-size: 4rem;
   margin-bottom: 0;
   height: min-content;
}

.title-et {
   display: inline-block;
   font-size: 3rem;
   letter-spacing: 0.05em;
   padding-top: 0.22rem;
   margin-bottom: 0;
   height: min-content;
}

main {
   padding: 1rem 1.5rem;
   width: min(768px, 100%);
   margin: 0 auto;
}

a {
   color: whitesmoke;
}

a:focus,
a:active,
a:hover {
   color: chocolate;
   opacity: 0.9;
}

/* game specific */

#card-container {
   height: calc(100dvh - 10rem);
   /* Adjust height to fit between header and footer */
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   /* grid-template-rows: repeat(4, 1fr); */
   padding: 1rem;
   justify-content: center;
   align-items: center;
   padding: 0;
   margin: 0;
}

.card {
   border-radius: 5px;
   background-color: whitesmoke;
   box-shadow: 0px 0px 2px darkslateblue;
   font-size: 2rem;
   display: flex;
   justify-self: center;
   align-self: center;
   height: 18vh;
   /* width: 20vw; */
   aspect-ratio: 5/7;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 0.3rem;
   /* transform: rotate(90deg); */
}



.selected {
   border: 4px solid blue;
}

.wrong {
   border: 4px solid red;
}

.right {
   border: 4px solid rgb(10, 171, 10);
}

.red {
   color: var(--red);
}

.green {
   color: var(--green);
}

.purple {
   color: var(--purple);
}


/* footer */

footer {
   vertical-align: bottom;
   padding-bottom: 1vh;
   padding-left: 2vw;
   padding-right: 1vw;
}

#created-by {
   opacity: 0.8;
   font-size: 0.7rem;
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: end;
}

#created-by p {
   margin-bottom: 0.2rem
}

#logo {
   vertical-align: bottom;
   height: 2rem;
   font-size: 0.7rem;
}